In [2]:
from modules import create_features
from modules.constants import local_paths 
import os
import pandas as pd
%load_ext autoreload

In [3]:
%autoreload

In [20]:
y = 2023

In [21]:

h = create_features.Horse(save_filename=f"horse_features_{y}.csv",
                          race_info_filename=f'race_info_{y}.csv',
                          results_filename=f'results_{y}.csv', 
                          horse_results_filename=f'horse_results_{y}.csv',
                          peds_filename='peds_22_to_23.csv')

In [22]:
h.df_f.columns

Index(['horse_id', 'date', 'weather', 'race_class', 'n_horses', 'rank',
       'race_type', 'course_len', 'ground_state', 'rank_diff', '3_furlongs',
       'time', 'prize', 'reference_date'],
      dtype='object')

In [23]:
h.df_f

,horse_id,date,weather,race_class,n_horses,rank,race_type,course_len,ground_state,rank_diff,3_furlongs,time,prize,reference_date
48,2020103575,2023-09-24,0.0,2.0,16.0,5.0,1,1200,1,1.2,38.9,72.6,80.0,2023-12-16
54,2020103575,2023-08-12,0.0,2.0,15.0,2.0,1,1200,0,0.6,36.7,71.7,320.0,2023-09-24
55,2020103575,2023-08-12,0.0,2.0,15.0,2.0,1,1200,0,0.6,36.7,71.7,320.0,2023-12-16
57,2020103575,2023-07-22,0.0,2.0,16.0,4.0,1,1150,0,0.9,37.2,69.2,120.0,2023-08-12
61,2020103575,2023-07-22,0.0,2.0,16.0,4.0,1,1150,0,0.9,37.2,69.2,120.0,2023-09-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
879352,2019104657,2022-05-01,3.0,1.0,12.0,6.0,1,1800,3,1.3,38.1,114.3,0.0,2023-12-28
879353,2019104657,2022-04-09,0.0,1.0,16.0,7.0,1,1800,0,2.6,39.1,117.5,0.0,2023-12-28
879354,2019104657,2022-03-20,0.0,1.0,15.0,4.0,1,1800,2,2.1,39.2,116.4,78.0,2023-12-28
879355,2019104657,2022-02-12,0.0,1.0,13.0,13.0,0,1800,0,3.0,37.4,109.6,0.0,2023-12-28
879356,2019104657,2021-11-06,0.0,0.0,9.0,5.0,0,1800,0,0.4,33.6,112.6,70.0,2023-12-28

In [24]:
h.df_c['ground_state_mode'].value_counts()

ground_state_mode
0    39480
1     2182
2      539
3      291
Name: count, dtype: int64

In [25]:
h.df_f[h.df_f['horse_id'].isin([2011100643]) & h.df_f['reference_date'].isin(['2022-07-30'])]

Empty DataFrame
Columns: [horse_id, date, weather, race_class, n_horses, rank, race_type, course_len, ground_state, rank_diff, 3_furlongs, time, prize, reference_date]
Index: []

In [26]:
h.df_c[h.df_c['horse_id'].isin([2011100643])]

Empty DataFrame
Columns: [horse_id, reference_date, rank_mean, rank_min, rank_max, rank_std, n_horses_mean, rank_diff_mean, rank_diff_std, 3_furlongs_mean, 3_furlongs_std, prize_mean, prize_sum, course_len_mean, course_len_min, course_len_max, weather_mode, race_type_mode, ground_state_mode, consistency, time_per_course_len, course_len_mode, same_course_len_avg_rank, days_since_last_race, race_interval_category, parent_0, parent_1, parent_2, parent_3, parent_4, parent_5]
Index: []

[0 rows x 31 columns]

In [27]:
h.df_c['time_per_course_len']

0        0.062815
1        0.062774
2        0.062730
3        0.062690
4        0.062650
           ...
42487    0.061937
42488    0.061333
42489    0.059143
42490    0.061500
42491    0.061156
Name: time_per_course_len, Length: 42492, dtype: float64

## 馬の過去成績特徴量の読み込み

In [28]:
horse_features = pd.read_csv(os.path.join(local_paths.FEATURES_DIR, f'horse_features_{y}.csv'), index_col=0,  sep="\t")
results = pd.read_csv(os.path.join(local_paths.PREPROCESSED_DIR, f'results_{y}.csv'), index_col=0,  sep="\t")
race_info = pd.read_csv(os.path.join(local_paths.PREPROCESSED_DIR, f'race_info_{y}.csv'), index_col=0,  sep="\t")
peds = pd.read_csv(os.path.join(local_paths.PREPROCESSED_DIR, f'peds_{y}.csv'), index_col=0,  sep="\t")

In [29]:
horse_features.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42492 entries, 0 to 42491
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   horse_id                  42492 non-null  int64
 1   reference_date            42492 non-null  object
 2   rank_mean                 42492 non-null  float64
 3   rank_min                  42492 non-null  float64
 4   rank_max                  42492 non-null  float64
 5   rank_std                  38095 non-null  float64
 6   n_horses_mean             42492 non-null  float64
 7   rank_diff_mean            42490 non-null  float64
 8   rank_diff_std             38093 non-null  float64
 9   3_furlongs_mean           42490 non-null  float64
 10  3_furlongs_std            38093 non-null  float64
 11  prize_mean                42492 non-null  float64
 12  prize_sum                 42492 non-null  float64
 13  course_len_mean           42492 non-null  float64
 14  course_len_min            42492 non-null  int64
 15  course_len_max            42492 non-null  int64
 16  weather_mode              42490 non-null  float64
 17  race_type_mode            42492 non-null  int64
 18  ground_state_mode         42492 non-null  int64
 19  consistency               42492 non-null  float64
 20  time_per_course_len       42492 non-null  float64
 21  course_len_mode           42492 non-null  int64
 22  same_course_len_avg_rank  42492 non-null  float64
 23  days_since_last_race      42492 non-null  int64
 24  race_interval_category    42492 non-null  int64
 25  parent_0                  42492 non-null  int64
 26  parent_1                  42492 non-null  int64
 27  parent_2                  42492 non-null  int64
 28  parent_3                  42492 non-null  int64
 29  parent_4                  42492 non-null  int64
 30  parent_5                  42492 non-null  int64
dtypes: float64(16), int64(14), object(1)
memory usage: 10.4+ MB

In [30]:
horse_features.columns

Index(['horse_id', 'reference_date', 'rank_mean', 'rank_min', 'rank_max',
       'rank_std', 'n_horses_mean', 'rank_diff_mean', 'rank_diff_std',
       '3_furlongs_mean', '3_furlongs_std', 'prize_mean', 'prize_sum',
       'course_len_mean', 'course_len_min', 'course_len_max', 'weather_mode',
       'race_type_mode', 'ground_state_mode', 'consistency',
       'time_per_course_len', 'course_len_mode', 'same_course_len_avg_rank',
       'days_since_last_race', 'race_interval_category', 'parent_0',
       'parent_1', 'parent_2', 'parent_3', 'parent_4', 'parent_5'],
      dtype='object')

In [31]:
results_add_info = results.merge(race_info, on='race_id', how='left')

In [32]:
results_add_info

,race_id,horse_id,jockey_id,trainer_id,owner_id,rank,frame,number,sex,age,...,weight,weight_diff,date,race_type,around,course_len,weather,ground_state,race_class,place
0,202301010101,2021100648,1095,1128,281008,5.0,1,1,1,2,...,434,-10,2023-07-22,0,0.0,1200.0,0.0,0.0,1.0,0.0
1,202301010101,2021100159,1157,1186,170800,6.0,2,2,0,2,...,454,-6,2023-07-22,0,0.0,1200.0,0.0,0.0,1.0,0.0
2,202301010101,2021100265,1197,1192,320803,7.0,3,3,1,2,...,404,-2,2023-07-22,0,0.0,1200.0,0.0,0.0,1.0,0.0
3,202301010101,2021105553,5339,1160,680031,4.0,4,4,1,2,...,450,2,2023-07-22,0,0.0,1200.0,0.0,0.0,1.0,0.0
4,202301010101,2021101429,1170,1026,425031,1.0,5,5,0,2,...,452,-4,2023-07-22,0,0.0,1200.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47268,202310030812,2019102542,1208,1161,17803,1.0,6,8,1,4,...,442,-2,2023-09-03,0,0.0,2600.0,0.0,0.0,2.0,9.0
47269,202310030812,2020103754,1116,1104,651031,6.0,7,9,0,3,...,468,0,2023-09-03,0,0.0,2600.0,0.0,0.0,2.0,9.0
47270,202310030812,2020100400,1193,1092,180800,4.0,7,10,1,3,...,458,6,2023-09-03,0,0.0,2600.0,0.0,0.0,2.0,9.0
47271,202310030812,2020103663,732,1092,226800,2.0,8,11,2,3,...,486,-6,2023-09-03,0,0.0,2600.0,0.0,0.0,2.0,9.0
47272,202310030812,2017104623,1125,1170,37803,5.0,8,12,2,6,...,420,-16,2023-09-03,0,0.0,2600.0,0.0,0.0,2.0,9.0

In [33]:
features = results_add_info.merge(horse_features,
                                  left_on=['horse_id', 'date'], 
                                  right_on=['horse_id', 'reference_date'],
                                  how='left')

In [34]:
features

,race_id,horse_id,jockey_id,trainer_id,owner_id,rank,frame,number,sex,age,...,course_len_mode,same_course_len_avg_rank,days_since_last_race,race_interval_category,parent_0,parent_1,parent_2,parent_3,parent_4,parent_5
0,202301010101,2021100648,1095,1128,281008,5.0,1,1,1,2,...,1200.0,4.666667,21.0,1.0,506.0,5537.0,189.0,436.0,584.0,1852.0
1,202301010101,2021100159,1157,1186,170800,6.0,2,2,0,2,...,1200.0,8.000000,14.0,1.0,498.0,6267.0,156.0,462.0,780.0,6337.0
2,202301010101,2021100265,1197,1192,320803,7.0,3,3,1,2,...,1200.0,5.800000,21.0,1.0,318.0,2700.0,189.0,334.0,745.0,6482.0
3,202301010101,2021105553,5339,1160,680031,4.0,4,4,1,2,...,1200.0,4.750000,14.0,1.0,439.0,3258.0,210.0,406.0,741.0,5141.0
4,202301010101,2021101429,1170,1026,425031,1.0,5,5,0,2,...,1200.0,1.600000,14.0,1.0,423.0,5856.0,165.0,329.0,780.0,4573.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47268,202310030812,2019102542,1208,1161,17803,1.0,6,8,1,4,...,1800.0,5.195876,29.0,1.0,251.0,517.0,189.0,301.0,618.0,1738.0
47269,202310030812,2020103754,1116,1104,651031,6.0,7,9,0,3,...,1800.0,5.966667,28.0,1.0,299.0,6949.0,81.0,337.0,384.0,1551.0
47270,202310030812,2020100400,1193,1092,180800,4.0,7,10,1,3,...,1800.0,8.307692,21.0,1.0,236.0,5649.0,176.0,288.0,780.0,6282.0
47271,202310030812,2020103663,732,1092,226800,2.0,8,11,2,3,...,1800.0,6.142857,91.0,3.0,236.0,8117.0,176.0,288.0,185.0,1206.0
47272,202310030812,2017104623,1125,1170,37803,5.0,8,12,2,6,...,2200.0,6.360000,28.0,1.0,370.0,7835.0,168.0,274.0,709.0,5847.0

In [35]:
features.to_csv(os.path.join(local_paths.FEATURES_DIR, f'features_{y}.csv'), sep="\t")

In [36]:
features_22 = pd.read_csv(os.path.join(local_paths.FEATURES_DIR, 'features_2022.csv'), index_col=0,  sep="\t")
features_23 = pd.read_csv(os.path.join(local_paths.FEATURES_DIR, 'features_2023.csv'), index_col=0,  sep="\t")

In [37]:
features_m = pd.concat([features_22, features_23])

In [38]:
features_m.columns

Index(['race_id', 'horse_id', 'jockey_id', 'trainer_id', 'owner_id', 'rank',
       'frame', 'number', 'sex', 'age', 'impost', 'win_odds', 'popularity',
       'weight', 'weight_diff', 'date', 'race_type', 'around', 'course_len',
       'weather', 'ground_state', 'race_class', 'place', 'reference_date',
       'rank_mean', 'rank_min', 'rank_max', 'rank_std', 'n_horses_mean',
       'rank_diff_mean', 'rank_diff_std', '3_furlongs_mean', '3_furlongs_std',
       'prize_mean', 'prize_sum', 'course_len_mean', 'course_len_min',
       'course_len_max', 'weather_mode', 'race_type_mode', 'ground_state_mode',
       'consistency', 'time_per_course_len', 'course_len_mode',
       'same_course_len_avg_rank', 'days_since_last_race',
       'race_interval_category', 'parent_0', 'parent_1', 'parent_2',
       'parent_3', 'parent_4', 'parent_5'],
      dtype='object')

In [39]:
features_m.to_csv(os.path.join(local_paths.FEATURES_DIR, 'features.csv'), sep="\t")