## レース結果の前処理

In [6]:
from modules import preprocessing
from modules.constants import local_paths 
import os
import pandas as pd
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [7]:
%autoreload

In [8]:
y=2020

In [18]:
results_p = preprocessing.process_results(save_file_name=f'results_{y}.csv')

In [13]:
path = os.path.join(local_paths.RAW_DIR, f"results_{y}.csv")
results = pd.read_csv(path, index_col=0, encoding='utf8', sep='\t')

In [17]:
for y in range(2020, 2024):
  results_path = os.path.join(local_paths.PREPROCESSED_DIR, f"results_{y}.csv")
  results_p = pd.read_csv(results_path, index_col=0, encoding='utf8', sep='\t')
  results_p = results_p.drop(columns=['owner_id'])
  results_p.to_csv(os.path.join(local_paths.PREPROCESSED_DIR, f"results_{y}.csv"), sep="\t")

In [5]:
results_p

,race_id,horse_id,jockey_id,trainer_id,rank,frame,number,sex,age,impost,win_odds,popularity,weight,weight_diff
27404,202301010101,2021100648,1095,1128,5.0,1,1,1,2,55.0,23.9,5,434,-10
27405,202301010101,2021100159,1157,1186,6.0,2,2,0,2,55.0,61.8,7,454,-6
27406,202301010101,2021100265,1197,1192,7.0,3,3,1,2,53.0,18.8,4,404,-2
27403,202301010101,2021105553,5339,1160,4.0,4,4,1,2,55.0,16.6,3,450,2
27400,202301010101,2021101429,1170,1026,1.0,5,5,0,2,55.0,1.2,1,452,-4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33202,202310030812,2019102542,1208,1161,1.0,6,8,1,4,53.0,3.5,1,442,-2
33207,202310030812,2020103754,1116,1104,6.0,7,9,0,3,55.0,15.2,8,468,0
33205,202310030812,2020100400,1193,1092,4.0,7,10,1,3,50.0,23.1,9,458,6
33203,202310030812,2020103663,732,1092,2.0,8,11,2,3,55.0,5.0,3,486,-6
33206,202310030812,2017104623,1125,1170,5.0,8,12,2,6,58.0,14.1,7,420,-16

In [22]:
results_22_path = os.path.join(local_paths.PREPROCESSED_DIR, "results_2021.csv")
results_22_p = pd.read_csv(results_22_path, index_col=0, encoding='utf8', sep='\t')
results_23_path = os.path.join(local_paths.PREPROCESSED_DIR, "results_2020.csv")
results_23_p = pd.read_csv(results_23_path, index_col=0, encoding='utf8', sep='\t')

In [23]:
results_22_p

,race_id,horse_id,jockey_id,trainer_id,owner_id,rank,frame,number,sex,age,impost,win_odds,popularity,weight,weight_diff
21851,202101010101,2018104780,1144,1136,414030,15.0,1,1,0,3,56.0,10.4,6,436,0
21842,202101010101,2018100570,666,1039,728008,6.0,1,2,1,3,54.0,3.7,1,456,4
21846,202101010101,2018101518,1173,1093,942006,10.0,2,3,1,3,52.0,275.3,16,388,-20
21848,202101010101,2018101447,1091,1076,546800,12.0,2,4,0,3,56.0,57.7,11,498,-4
21841,202101010101,2018101539,1015,417,163002,5.0,3,5,1,3,54.0,7.5,4,456,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33158,202110040812,2015110065,1171,427,897009,11.0,6,7,2,6,57.0,82.5,11,486,-2
33156,202110040812,2018104097,1168,1044,30030,9.0,7,8,0,3,53.0,46.5,9,502,-10
33155,202110040812,2017100368,732,431,240033,8.0,7,9,0,4,57.0,43.7,8,464,0
33157,202110040812,2016105133,1115,1183,180800,10.0,8,10,2,5,57.0,14.0,6,436,2
33148,202110040812,2017102850,666,1049,523005,1.0,8,11,0,4,57.0,3.6,2,482,-2

In [24]:
results_23_p

,race_id,horse_id,jockey_id,trainer_id,owner_id,rank,frame,number,sex,age,impost,win_odds,popularity,weight,weight_diff
28101,202001010101,2018102410,1176,427,165033,4.0,1,1,1,2,52.0,22.2,4,442,0
28099,202001010101,2018105193,5339,386,486800,2.0,2,2,0,2,54.0,1.9,2,510,0
28100,202001010101,2018104800,1032,1082,415800,3.0,3,3,0,2,54.0,1.8,1,482,-6
28102,202001010101,2018100828,1116,1069,750030,5.0,4,4,0,2,54.0,55.7,5,426,-8
28103,202001010101,2018106434,1109,1010,312803,6.0,5,5,1,2,54.0,73.9,6,426,-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33731,202010020812,2017106438,1152,1098,478030,2.0,6,11,0,3,54.0,98.5,15,484,0
33738,202010020812,2017103149,1168,1039,933006,9.0,7,12,1,3,51.0,62.2,12,474,-4
33744,202010020812,2017105123,1166,1087,506800,15.0,7,13,1,3,52.0,24.7,9,468,2
33741,202010020812,2016110126,1115,1022,138007,12.0,8,14,0,4,57.0,19.8,8,522,-8
33742,202010020812,2015102639,1124,429,95700,13.0,8,15,0,5,57.0,75.0,14,510,0

In [25]:
results_22_to_23 = pd.concat([results_22_p, results_23_p])

In [26]:
results_22_to_23.to_csv(os.path.join(local_paths.COMPLETED_DIR, 'results_20_to_21.csv'), sep="\t")

In [28]:
results_22_path = os.path.join(local_paths.COMPLETED_DIR, "results_20_to_21.csv")
results_22_p = pd.read_csv(results_22_path, index_col=0, encoding='utf8', sep='\t')
results_23_path = os.path.join(local_paths.COMPLETED_DIR, "results_22_to_23.csv")
results_23_p = pd.read_csv(results_23_path, index_col=0, encoding='utf8', sep='\t')

In [29]:
results_22_to_23 = pd.concat([results_22_p, results_23_p])
results_22_to_23.to_csv(os.path.join(local_paths.COMPLETED_DIR, 'results_20_to_23.csv'), sep="\t")

In [19]:
results_p.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47876 entries, 28101 to 33742
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   race_id      47876 non-null  int64
 1   horse_id     47876 non-null  int64
 2   jockey_id    47876 non-null  int64
 3   trainer_id   47876 non-null  int64
 4   owner_id     47876 non-null  int64
 5   rank         47876 non-null  float64
 6   frame        47876 non-null  int32
 7   number       47876 non-null  int32
 8   sex          47876 non-null  int64
 9   age          47876 non-null  int32
 10  impost       47876 non-null  float64
 11  win_odds     47876 non-null  float64
 12  popularity   47876 non-null  int32
 13  weight       47876 non-null  int32
 14  weight_diff  47876 non-null  int32
dtypes: float64(3), int32(6), int64(6)
memory usage: 4.7 MB

In [6]:
results_p.duplicated(subset=["race_id", "horse_id"]).sum()

np.int64(0)

In [7]:
results_p.isnull().sum()

race_id        0
horse_id       0
jockey_id      0
trainer_id     0
owner_id       0
rank           0
frame          0
number         0
sex            0
age            0
impost         0
win_odds       0
popularity     0
weight         0
weight_diff    0
dtype: int64

## 馬の過去成績データの前処理

In [31]:
%autoreload

In [32]:
y=2020

In [33]:
horse_results_p = preprocessing.process_horse_results(save_file_name=f"horse_results_{y}.csv")

c:\Users\SV8\m\p\keiba\modules\preprocessing.py:101: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(input_dir, save_file_name), sep="\t")

In [34]:
horse_results_path = os.path.join(local_paths.PREPROCESSED_DIR, f"horse_results_{y}.csv")
horse_results_p = pd.read_csv(horse_results_path, index_col=0, encoding='utf8', sep='\t')

In [35]:
horse_results_p

,horse_id,date,weather,race_class,n_horses,rank,race_type,course_len,ground_state,rank_diff,3_furlongs,time,prize
1,2017101464,2021-08-15,1.0,5.0,9.0,7.0,1,1500,2.0,1.2,39.0,97.2,0.0
3,2017101464,2021-07-18,0.0,NaN,7.0,1.0,1,1500,0.0,0.0,38.9,97.6,36.0
4,2017101464,2021-07-11,1.0,5.0,10.0,9.0,1,1500,1.0,5.6,42.3,100.3,0.0
5,2017101464,2021-01-17,0.0,2.0,14.0,11.0,1,1000,1.0,1.3,36.7,60.4,0.0
6,2017101464,2020-11-08,0.0,2.0,13.0,10.0,1,1150,0.0,1.5,37.7,70.7,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
329467,2016104128,2020-01-02,0.0,3.0,10.0,2.0,1,1400,2.0,0.1,41.2,92.3,7.6
329468,2016104128,2019-12-18,1.0,3.0,10.0,2.0,1,1400,2.0,0.5,40.4,93.5,7.6
329469,2016104128,2019-08-29,0.0,5.0,10.0,9.0,1,1400,2.0,4.3,43.0,92.0,0.0
329470,2016104128,2019-07-13,1.0,1.0,16.0,15.0,1,1200,2.0,3.1,39.1,74.5,0.0
329471,2016104128,2019-05-11,0.0,1.0,16.0,15.0,1,1200,0.0,3.5,39.1,76.1,0.0

In [182]:
horse_results_p.info()

<class 'pandas.core.frame.DataFrame'>
Index: 250224 entries, 0 to 253545
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   horse_id      250224 non-null  int64
 1   date          250224 non-null  object
 2   weather       249997 non-null  float64
 3   race_class    160220 non-null  float64
 4   n_horses      250224 non-null  float64
 5   rank          250224 non-null  float64
 6   race_type     250224 non-null  int64
 7   course_len    250224 non-null  int64
 8   ground_state  250223 non-null  float64
 9   rank_diff     249956 non-null  float64
 10  3_furlongs    249939 non-null  float64
 11  time          250047 non-null  float64
 12  prize         250224 non-null  float64
dtypes: float64(9), int64(3), object(1)
memory usage: 26.7+ MB

## レース情報データの前処理

In [3]:
%autoreload

In [13]:
y = 2020

In [14]:
race_info = preprocessing.process_race_info(save_file_name=f"race_info_{y}.csv")

In [15]:
race_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3456 entries, 0 to 3455
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   race_id       3456 non-null   int64
 1   date          3456 non-null   datetime64[ns]
 2   race_type     3456 non-null   int64
 3   around        3309 non-null   float64
 4   course_len    3432 non-null   float64
 5   weather       3433 non-null   float64
 6   ground_state  3433 non-null   float64
 7   race_class    3393 non-null   float64
 8   place         3348 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(2)
memory usage: 243.1 KB

In [16]:
race_info.value_counts()

race_id       date        race_type  around  course_len  weather  ground_state  race_class  place
202001010101  2020-07-25  0          0.0     1800.0      1.0      0.0           1.0         0.0      1
202008010708  2020-01-19  1          0.0     1800.0      1.0      0.0           2.0         7.0      1
202008010710  2020-01-19  0          0.0     2000.0      1.0      0.0           5.0         7.0      1
202008010711  2020-01-19  0          0.0     2400.0      1.0      0.0           8.0         7.0      1
202008010712  2020-01-19  1          0.0     1200.0      1.0      0.0           3.0         7.0      1
                                                                                                    ..
202005030610  2020-06-21  0          1.0     1400.0      1.0      1.0           4.0         4.0      1
202005030611  2020-06-21  1          1.0     1600.0      1.0      1.0           8.0         4.0      1
202005030612  2020-06-21  0          1.0     1400.0      1.0      1.0           2.0         4.0      1
202005030701  2020-06-27  0          1.0     1600.0      1.0      0.0           1.0         4.0      1
202010020812  2020-09-06  1          0.0     1700.0      2.0      2.0           2.0         9.0      1
Name: count, Length: 3144, dtype: int64

In [17]:
race_info

,race_id,date,race_type,around,course_len,weather,ground_state,race_class,place
0,202006010101,2020-01-05,1,0.0,1200.0,0.0,0.0,1.0,5.0
1,202006010102,2020-01-05,1,0.0,1800.0,0.0,0.0,1.0,5.0
2,202006010103,2020-01-05,1,0.0,1200.0,0.0,0.0,1.0,5.0
3,202006010104,2020-01-05,1,0.0,1800.0,0.0,0.0,0.0,5.0
4,202006010105,2020-01-05,0,0.0,2000.0,0.0,0.0,2.0,5.0
...,...,...,...,...,...,...,...,...,...
3451,202009060808,2020-12-27,1,0.0,1800.0,0.0,0.0,2.0,8.0
3452,202009060809,2020-12-27,0,0.0,1600.0,0.0,0.0,3.0,8.0
3453,202009060810,2020-12-27,1,0.0,1800.0,0.0,0.0,4.0,8.0
3454,202009060811,2020-12-27,1,0.0,1400.0,0.0,0.0,5.0,8.0
3455,202009060812,2020-12-27,0,0.0,1400.0,0.0,0.0,4.0,8.0

In [18]:
race_info_path = os.path.join(local_paths.PREPROCESSED_DIR, f"race_info_{y}.csv")
race_info_p = pd.read_csv(race_info_path, index_col=0, encoding='utf8', sep='\t')

In [19]:
race_info_p

,race_id,date,race_type,around,course_len,weather,ground_state,race_class,place
0,202006010101,2020-01-05,1,0.0,1200.0,0.0,0.0,1.0,5.0
1,202006010102,2020-01-05,1,0.0,1800.0,0.0,0.0,1.0,5.0
2,202006010103,2020-01-05,1,0.0,1200.0,0.0,0.0,1.0,5.0
3,202006010104,2020-01-05,1,0.0,1800.0,0.0,0.0,0.0,5.0
4,202006010105,2020-01-05,0,0.0,2000.0,0.0,0.0,2.0,5.0
...,...,...,...,...,...,...,...,...,...
3451,202009060808,2020-12-27,1,0.0,1800.0,0.0,0.0,2.0,8.0
3452,202009060809,2020-12-27,0,0.0,1600.0,0.0,0.0,3.0,8.0
3453,202009060810,2020-12-27,1,0.0,1800.0,0.0,0.0,4.0,8.0
3454,202009060811,2020-12-27,1,0.0,1400.0,0.0,0.0,5.0,8.0
3455,202009060812,2020-12-27,0,0.0,1400.0,0.0,0.0,4.0,8.0

In [69]:
race_info_p['course_len'].isnull().sum()

np.int64(28)

In [30]:
%autoreload

In [22]:
returns_22 = preprocessing.process_returns(save_file_name='returns_2022.csv')

In [32]:
returns_23 = preprocessing.process_returns(save_file_name='returns_2023.csv')

In [33]:
returns_23

,単勝_rank,単勝_returns,複勝_rank,複勝_returns,枠連_rank,枠連_returns,馬連_rank,馬連_returns,ワイド_rank,ワイド_returns,馬単_rank,馬単_returns,三連複_rank,三連複_returns,三連単_rank,三連単_returns
race_id,,,,,,,,,,,,,,,,
202306010101,[14],[180],"[14, 5, 1]","[110, 150, 480]","[3, 7]",[470],"[5, 14]",[470],"[5, 14, 1, 14, 1, 5]","[220, 790, 1550]","[14, 5]",[660],"[1, 5, 14]",[3040],"[14, 5, 1]",[8890]
202306010102,[8],[1380],"[8, 7, 13]","[460, 440, 400]","[4, 4]",[7010],"[7, 8]",[6420],"[7, 8, 8, 13, 7, 13]","[1930, 2810, 2490]","[8, 7]",[15240],"[7, 8, 13]",[32390],"[8, 7, 13]",[199190]
202306010103,[16],[1590],"[16, 9, 2]","[540, 1000, 440]","[5, 8]",[2580],"[9, 16]",[24290],"[9, 16, 2, 16, 2, 9]","[6100, 3510, 5930]","[16, 9]",[47840],"[2, 9, 16]",[117380],"[16, 9, 2]",[649440]
202306010104,[7],[1590],"[7, 13, 1]","[330, 290, 150]","[4, 7]",[660],"[7, 13]",[6650],"[7, 13, 1, 7, 1, 13]","[1710, 970, 830]","[7, 13]",[13100],"[1, 7, 13]",[7310],"[7, 13, 1]",[78280]
202306010105,[1],[690],"[1, 3, 16]","[180, 150, 170]","[1, 2]",[1130],"[1, 3]",[1220],"[1, 3, 1, 16, 3, 16]","[510, 750, 410]","[1, 3]",[2770],"[1, 3, 16]",[1860],"[1, 3, 16]",[13100]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202309050908,[8],[270],"[8, 14, 3]","[160, 170, 650]","[5, 8]",[520],"[8, 14]",[840],"[8, 14, 3, 8, 3, 14]","[440, 1960, 3500]","[8, 14]",[1490],"[3, 8, 14]",[12740],"[8, 14, 3]",[35560]
202309050909,[16],[350],"[16, 9, 14]","[200, 1410, 460]","[5, 8]",[1970],"[9, 16]",[12570],"[9, 16, 14, 16, 9, 14]","[3580, 1190, 6950]","[16, 9]",[15500],"[9, 14, 16]",[46670],"[16, 9, 14]",[144610]
202309050910,[11],[1710],"[11, 6, 9]","[390, 200, 190]","[6, 8]",[630],"[6, 11]",[3770],"[6, 11, 9, 11, 6, 9]","[1160, 1600, 630]","[11, 6]",[8960],"[6, 9, 11]",[7020],"[11, 6, 9]",[68800]
202309050911,[15],[610],"[15, 10, 5]","[170, 110, 170]","[6, 8]",[430],"[10, 15]",[500],"[10, 15, 5, 15, 5, 10]","[290, 720, 280]","[15, 10]",[1410],"[5, 10, 15]",[1420],"[15, 10, 5]",[8900]
202309050912,[2],[3250],"[2, 12, 5]","[520, 220, 140]","[1, 6]",[2990],"[2, 12]",[9930],"[2, 12, 2, 5, 5, 12]","[2590, 1380, 460]","[2, 12]",[29610],"[2, 5, 12]",[7370],"[2, 12, 5]",[118840]

In [23]:
df = pd.read_csv(os.path.join(local_paths.PREPROCESSED_DIR, 'returns_2022.csv'), sep="\t")

In [28]:
df

,race_id,単勝_rank,単勝_returns,複勝_rank,複勝_returns,枠連_rank,枠連_returns,馬連_rank,馬連_returns,ワイド_rank,ワイド_returns,馬単_rank,馬単_returns,三連複_rank,三連複_returns,三連単_rank,三連単_returns
0,202206010101,[15],[680],"[15, 10, 4]","[210, 1600, 170]","[5, 8]",[2680],"[10, 15]",[31040],"[10, 15, 4, 15, 4, 10]","[6890, 660, 5640]","[15, 10]",[46070],"[4, 10, 15]",[46240],"[15, 10, 4]",[338400]
1,202206010102,[1],[1510],"[1, 8, 10]","[280, 110, 220]","[1, 4]",[860],"[1, 8]",[1060],"[1, 8, 1, 10, 8, 10]","[520, 1710, 350]","[1, 8]",[3510],"[1, 8, 10]",[2650],"[1, 8, 10]",[21660]
2,202206010103,[5],[430],"[5, 7, 11]","[130, 2620, 110]","[3, 4]",[2750],"[5, 7]",[63780],"[5, 7, 5, 11, 7, 11]","[11540, 180, 8280]","[5, 7]",[82850],"[5, 7, 11]",[24950],"[5, 7, 11]",[224010]
3,202206010104,[5],[630],"[5, 6, 10]","[190, 120, 450]","[5, 6]",[520],"[5, 6]",[580],"[5, 6, 5, 10, 6, 10]","[320, 2520, 1010]","[5, 6]",[1570],"[5, 6, 10]",[5090],"[5, 6, 10]",[24170]
4,202206010105,[8],[190],"[8, 6, 9]","[110, 110, 140]","[6, 8]",[190],"[6, 8]",[240],"[6, 8, 8, 9, 6, 9]","[140, 210, 260]","[8, 6]",[440],"[6, 8, 9]",[320],"[8, 6, 9]",[1210]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3451,202209060908,[10],[290],"[10, 6, 1]","[140, 130, 270]","[6, 8]",[600],"[6, 10]",[620],"[6, 10, 1, 10, 1, 6]","[310, 890, 630]","[10, 6]",[1090],"[1, 6, 10]",[2700],"[10, 6, 1]",[9380]
3452,202209060909,[16],[410],"[16, 14, 7]","[180, 320, 310]","[7, 8]",[2040],"[14, 16]",[2350],"[14, 16, 7, 16, 7, 14]","[780, 1090, 2210]","[16, 14]",[4020],"[7, 14, 16]",[9010],"[16, 14, 7]",[38850]
3453,202209060910,[13],[2820],"[13, 8, 2]","[930, 290, 400]","[5, 8]",[4210],"[8, 13]",[7230],"[8, 13, 2, 13, 2, 8]","[1970, 2760, 690]","[13, 8]",[21780],"[2, 8, 13]",[16850],"[13, 8, 2]",[186730]
3454,202209060911,[4],[520],"[4, 10, 12]","[170, 330, 210]","[4, 7]",[2390],"[4, 10]",[3620],"[4, 10, 4, 12, 10, 12]","[1050, 450, 1310]","[4, 10]",[6990],"[4, 10, 12]",[4590],"[4, 10, 12]",[27420]
3455,202209060912,[7],[480],"[7, 2, 4]","[180, 160, 220]","[1, 4]",[630],"[2, 7]",[920],"[2, 7, 4, 7, 2, 4]","[420, 720, 600]","[7, 2]",[1890],"[2, 4, 7]",[2580],"[7, 2, 4]",[10260]

In [9]:
df.iloc[1,1]

'[1, 1510]'

## 馬の血統データ

In [20]:
%autoreload

In [27]:
y = 2020

In [28]:
peds_22 = pd.read_csv(os.path.join(local_paths.RAW_DIR, f'peds_{y}.csv'), index_col=0 ,sep="\t")
peds_22

                   0             1
horse_id
2017101464   ヘニーヒューズ          ヘネシー
2017101464   ヘニーヒューズ  Meadow Flyer
2017101464     ハロータマ       ゼンノエルシド
2017101464     ハロータマ     タマビッグエックス
2017103291    トーセンラー     ディープインパクト
...              ...           ...
2015103736  ヒシヴァリアント         アニマII
2016104128   グランプリボス     サクラバクシンオー
2016104128   グランプリボス       ロージーミスト
2016104128    マンイーター       タイキシャトル
2016104128    マンイーター        フォーチュン

[46808 rows x 2 columns]

In [29]:
peds_22_p = preprocessing.process_peds(save_file_name=f'peds_{y}.csv')

100%|██████████| 11702/11702 [00:00<00:00, 13865.84it/s]

In [30]:
peds_22_p

In [31]:
peds_df = pd.read_csv(os.path.join(local_paths.PREPROCESSED_DIR, f'peds_{y}.csv') ,sep="\t")
peds_df

,horse_id,parent_0,parent_1,parent_2,parent_3,parent_4,parent_5
0,2009100502,メイショウボーラー,ズリ,タイキシャトル,ナイスレイズ,Kris S.,Amizette
1,2009102606,ロージズインメイ,キミホウセキ,Devil His Due,Tell a Secret,サンデーサイレンス,オロール
2,2009103405,スズカマンボ,ルンルンスズカ,サンデーサイレンス,スプリングマンボ,ラムタラ,アイシングスズカ
3,2010100035,キングヘイロー,ダイタクピア,ダンシングブレーヴ,グッバイヘイロー,リンドシェーバー,スイートラブ
4,2010100690,ストーミングホーム,ビールジャント,Machiavellian,Try to Catch Me,Green Desert,Belle Genius
...,...,...,...,...,...,...,...
11697,2018110135,Midnight Lute,My Kitty,Real Quiet,Candytuft,Catienus,Private Stash
11698,2018110136,Mshawish,Little Miss Muffet,Medaglia d'Oro,Thunder Bayou,Scat Daddy,Jenna S.
11699,2018110138,Mineshaft,Mare and Cher,A.P. Indy,Prospector's Delite,Old Fashioned,Havenlass
11700,2018110139,Tapizar,Allencat,Tapit,Winning Call,Storm Cat,Pharma
11701,2018110145,Quality Road,Miss Singhsix,Elusive Quality,Kobla,シングスピール,Whatamiss

In [36]:
peds_1 = pd.read_csv(os.path.join(local_paths.PREPROCESSED_DIR, 'peds_2022.csv') ,sep="\t")
peds_0 = pd.read_csv(os.path.join(local_paths.PREPROCESSED_DIR, 'peds_2023.csv') ,sep="\t")

In [37]:
peds = pd.concat([peds_0, peds_1])
peds = peds.drop_duplicates()
peds

,horse_id,parent_0,parent_1,parent_2,parent_3,parent_4,parent_5
0,2011106610,タニノギムレット,クロネコ,ブライアンズタイム,タニノクリスタル,ダンスインザダーク,フサイチグレース
1,2012100683,マツリダゴッホ,コスモクラッベ,サンデーサイレンス,ペイパーレイン,マイネルラヴ,ビンゴハナコ
2,2012103532,ステイゴールド,ウェンブリー,サンデーサイレンス,ゴールデンサッシュ,サッカーボーイ,クラウンアスリート
3,2012104463,メイショウサムソン,ランペイア,オペラハウス,マイヴィヴィアン,アグネスタキオン,スマラ
4,2012104504,ゴールドアリュール,アガルタ,サンデーサイレンス,ニキーヤ,キングカメハメハ,ブロードアピール
...,...,...,...,...,...,...,...
11469,2020109164,ホッコータルマエ,サトノコンドル,キングカメハメハ,マダムチェロキー,アグネスタキオン,ソウスマッグ
11500,2020110064,Union Rags,Trensa,Dixie Union,Tempo,Giant's Causeway,Serape
11527,2020110110,Frosted,Tim's Girl,Tapit,Fast Cookie,Broken Vow,Rich Find
11529,2020110112,City of Light,Banree,Quality Road,Paris Notion,Macho Uno,グランドグローリー
11541,2020110135,More Than Ready,Nutcracker Suite,サザンヘイロー,Woodman's Girl,Fastnet Rock,Dietrich

In [38]:
peds.to_csv(os.path.join(local_paths.COMPLETED_DIR, 'peds_22_to_23.csv') ,sep="\t")

In [46]:
peds_c_1 = pd.read_csv(os.path.join(local_paths.COMPLETED_DIR, 'peds_20_to_21.csv') ,index_col=0 ,sep="\t")
peds_c_0 = pd.read_csv(os.path.join(local_paths.COMPLETED_DIR, 'peds_22_to_23.csv') ,index_col=0 ,sep="\t")

In [47]:
peds_c_1

,horse_id,parent_0,parent_1,parent_2,parent_3,parent_4,parent_5
0,2009100502,メイショウボーラー,ズリ,タイキシャトル,ナイスレイズ,Kris S.,Amizette
1,2009102606,ロージズインメイ,キミホウセキ,Devil His Due,Tell a Secret,サンデーサイレンス,オロール
2,2009103405,スズカマンボ,ルンルンスズカ,サンデーサイレンス,スプリングマンボ,ラムタラ,アイシングスズカ
3,2010100035,キングヘイロー,ダイタクピア,ダンシングブレーヴ,グッバイヘイロー,リンドシェーバー,スイートラブ
4,2010100690,ストーミングホーム,ビールジャント,Machiavellian,Try to Catch Me,Green Desert,Belle Genius
...,...,...,...,...,...,...,...
11562,2019110118,Arrogate,Amen Hallelujah,Unbridled's Song,Bubbler,Montbrook,Sara's Success
11563,2019110119,Arrogate,Flatter Up,Unbridled's Song,Bubbler,Flatter,Tenacious Tina
11564,2019110121,Quality Road,Gone Callin,Elusive Quality,Kobla,Proud Citizen,Come a Callin
11565,2019110122,Klimt,Brave Cause,Quality Road,Inventive,Giant's Causeway,Brave Destiny
11566,2019110123,Connect,Wild Hoots,Curlin,Bullville Belle,Unbridled's Song,Cahooters

In [48]:
peds_c_0

,horse_id,parent_0,parent_1,parent_2,parent_3,parent_4,parent_5
0,2011106610,タニノギムレット,クロネコ,ブライアンズタイム,タニノクリスタル,ダンスインザダーク,フサイチグレース
1,2012100683,マツリダゴッホ,コスモクラッベ,サンデーサイレンス,ペイパーレイン,マイネルラヴ,ビンゴハナコ
2,2012103532,ステイゴールド,ウェンブリー,サンデーサイレンス,ゴールデンサッシュ,サッカーボーイ,クラウンアスリート
3,2012104463,メイショウサムソン,ランペイア,オペラハウス,マイヴィヴィアン,アグネスタキオン,スマラ
4,2012104504,ゴールドアリュール,アガルタ,サンデーサイレンス,ニキーヤ,キングカメハメハ,ブロードアピール
...,...,...,...,...,...,...,...
11469,2020109164,ホッコータルマエ,サトノコンドル,キングカメハメハ,マダムチェロキー,アグネスタキオン,ソウスマッグ
11500,2020110064,Union Rags,Trensa,Dixie Union,Tempo,Giant's Causeway,Serape
11527,2020110110,Frosted,Tim's Girl,Tapit,Fast Cookie,Broken Vow,Rich Find
11529,2020110112,City of Light,Banree,Quality Road,Paris Notion,Macho Uno,グランドグローリー
11541,2020110135,More Than Ready,Nutcracker Suite,サザンヘイロー,Woodman's Girl,Fastnet Rock,Dietrich

In [49]:
peds_c = pd.concat([peds_c_0, peds_c_1])
peds_c = peds_c.drop_duplicates()
peds_c

,horse_id,parent_0,parent_1,parent_2,parent_3,parent_4,parent_5
0,2011106610,タニノギムレット,クロネコ,ブライアンズタイム,タニノクリスタル,ダンスインザダーク,フサイチグレース
1,2012100683,マツリダゴッホ,コスモクラッベ,サンデーサイレンス,ペイパーレイン,マイネルラヴ,ビンゴハナコ
2,2012103532,ステイゴールド,ウェンブリー,サンデーサイレンス,ゴールデンサッシュ,サッカーボーイ,クラウンアスリート
3,2012104463,メイショウサムソン,ランペイア,オペラハウス,マイヴィヴィアン,アグネスタキオン,スマラ
4,2012104504,ゴールドアリュール,アガルタ,サンデーサイレンス,ニキーヤ,キングカメハメハ,ブロードアピール
...,...,...,...,...,...,...,...
11471,2019109134,ロードバリオス,アヴェニューズレディ,ブライアンズタイム,レディブラッサム,Avenue of Flags,Lady Sauce Boat
11473,2019109136,ケイムホーム,イマヒトタビノ,Gone West,Nice Assay,スマートファルコン,オリエンタルサンシャイン
11487,2019109164,ダノンシャーク,テイエムビックイ,ディープインパクト,カーラパワー,テイエムオペラオー,テイエムシャルマン
11488,2019109165,テイエムオペラオー,テイエムヨカオゴ,オペラハウス,ワンスウエド,ヘネシー,テイエムサイレン
11502,2019110027,Teofilo,Heat Of The Day,Galileo,Speirbhean,Raven's Pass,Porto Roca

In [50]:
peds_c.to_csv(os.path.join(local_paths.COMPLETED_DIR, 'peds_20_to_23.csv') ,sep="\t")

## 騎手データの加工

In [4]:
%autoreload

In [11]:
y = 2023

In [6]:
jockeys_df = pd.read_csv(os.path.join(local_paths.RAW_DIR, f'jockeys_{y}.csv') ,sep="\t")
jockeys_df['勝率'].isnull().sum()

0

In [7]:
jockeys = preprocessing.process_jockeys(save_file_name=f'jockeys_{y}.csv')

In [12]:
jockeys_df = pd.read_csv(os.path.join(local_paths.PREPROCESSED_DIR, f'jockeys_{y}.csv') , index_col=0, sep="\t", dtype={'jockey_id': str})
jockeys_df

,annual,jockey_id,jockey_rank,jockey_n_top_1,jockey_n_top_2,jockey_n_top_3,jockey_n_4th_or_below,jockey_stakes_participation,jockey_stakes_win,jockey_special_participation,jockey_special_win,jockey_flat_participation,jockey_lawn_participation,jockey_lawn_win,jockey_dirt_participation,jockey_dirt_win,jockey_win_proba,jockey_top_2_proba,jockey_top_3_proba,jockey_earned_prize
1,2024,00666,7,78,56,43,282,46,4,143,25,270,280,47,179,31,0.170,0.292,0.386,172226.8
2,2023,00666,10,74,61,46,324,51,8,156,19,298,294,35,211,39,0.147,0.267,0.358,228903.3
3,2022,00666,11,73,81,67,379,64,3,188,20,348,339,37,261,36,0.122,0.257,0.368,195492.2
4,2021,00666,11,75,62,66,318,54,4,147,15,320,313,42,208,33,0.144,0.263,0.390,143024.6
5,2020,00666,5,115,103,60,389,64,5,201,37,402,368,64,299,51,0.172,0.327,0.417,230484.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2865,2023,05629,152,0,0,0,2,0,0,1,0,1,1,0,1,0,0.000,0.000,0.000,0.0
2866,2022,05629,147,0,0,0,2,0,0,2,0,0,1,0,1,0,0.000,0.000,0.000,0.0
2868,2023,05580,152,0,0,0,1,0,0,1,0,0,1,0,0,0,0.000,0.000,0.000,0.0
2869,2019,05580,149,0,1,0,1,0,0,2,0,0,1,0,1,0,0.000,0.500,0.500,612.8
2870,2018,05580,148,0,0,0,3,0,0,2,0,1,1,0,2,0,0.000,0.000,0.000,105.0

In [9]:
jockeys = pd.read_csv(os.path.join(local_paths.PREPROCESSED_DIR, f'jockeys_{y}.csv') , index_col=0, sep="\t", dtype={'jockey_id': str})
jockeys

,annual,jockey_id,jockey_rank,jockey_n_top_1,jockey_n_top_2,jockey_n_top_3,jockey_n_4th_or_below,jockey_stakes_participation,jockey_stakes_win,jockey_special_participation,jockey_special_win,jockey_flat_participation,jockey_lawn_participation,jockey_lawn_win,jockey_dirt_participation,jockey_dirt_win,jockey_win_proba,jockey_top_2_proba,jockey_top_3_proba,jockey_earned_prize
1,2024,01075,23,35,54,39,305,26,1,124,12,283,204,12,229,23,0,0.206,0.296,86031.7
2,2023,01075,14,57,58,49,385,43,1,166,11,340,265,30,284,27,0,0.209,0.299,112088.4
3,2022,01075,13,72,66,59,360,38,5,146,16,373,286,33,271,39,0,0.248,0.354,156965.6
4,2021,01075,15,66,59,49,422,52,3,158,13,386,317,34,279,32,0,0.210,0.292,131559.3
5,2020,01075,10,74,87,78,520,52,3,197,16,510,394,32,365,42,0,0.212,0.315,155021.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2765,2021,05608,135,0,0,0,2,0,0,2,0,0,1,0,1,0,0,0.000,0.000,0.0
2767,2021,05611,135,0,0,1,1,0,0,2,0,0,1,0,1,0,0,0.000,0.500,385.5
2769,2022,05607,147,0,0,0,2,0,0,2,0,0,1,0,1,0,0,0.000,0.000,0.0
2770,2021,05607,135,0,0,0,2,0,0,2,0,0,1,0,1,0,0,0.000,0.000,230.0
2772,2021,05605,135,0,0,0,2,0,0,2,0,0,1,0,1,0,0,0.000,0.000,0.0

In [29]:
path_22 = os.path.join(local_paths.PREPROCESSED_DIR, "jockeys_2022.csv")
jockeys_22 = pd.read_csv(path_22, encoding='utf8', sep='\t', index_col=0, dtype={'jockey_id': str})
path_23 = os.path.join(local_paths.PREPROCESSED_DIR, "jockeys_2023.csv")
jockeys_23 = pd.read_csv(path_23, encoding='utf8', sep='\t', index_col=0, dtype={'jockey_id': str})

In [30]:
jockeys_22_to_23 =pd.concat([jockeys_22, jockeys_23]).drop_duplicates()
jockeys_22_to_23

,annual,jockey_id,jockey_rank,jockey_n_top_1,jockey_n_top_2,jockey_n_top_3,jockey_n_4th_or_below,jockey_stakes_participation,jockey_stakes_win,jockey_special_participation,jockey_special_win,jockey_flat_participation,jockey_lawn_participation,jockey_lawn_win,jockey_dirt_participation,jockey_dirt_win,jockey_win_proba,jockey_top_2_proba,jockey_top_3_proba,jockey_earned_prize
1,2024,01192,72,11,13,18,239,4,0,36,1,241,122,6,159,5,0.039,0.085,0.149,20427.0
2,2023,01192,52,23,17,27,354,3,0,64,4,354,180,8,241,15,0.055,0.095,0.159,37167.2
3,2022,01192,37,34,27,21,509,3,0,64,1,524,251,15,340,19,0.058,0.103,0.139,40020.5
4,2021,01192,81,9,7,11,214,0,0,9,0,232,85,4,156,5,0.037,0.066,0.112,10131.0
6,2024,01179,14,51,61,63,456,38,3,151,6,442,323,29,308,22,0.081,0.177,0.277,147747.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2860,2023,05648,152,0,0,0,2,0,0,2,0,0,1,0,1,0,0.000,0.000,0.000,0.0
2862,2023,05617,152,0,0,0,2,0,0,2,0,0,1,0,1,0,0.000,0.000,0.000,0.0
2868,2023,05580,152,0,0,0,1,0,0,1,0,0,1,0,0,0,0.000,0.000,0.000,0.0
2869,2019,05580,149,0,1,0,1,0,0,2,0,0,1,0,1,0,0.000,0.500,0.500,612.8
2870,2018,05580,148,0,0,0,3,0,0,2,0,1,1,0,2,0,0.000,0.000,0.000,105.0

In [31]:
jockeys_22_to_23.to_csv(os.path.join(local_paths.COMPLETED_DIR, 'jockeys_22_to_23.csv'), sep="\t")

In [32]:
path_22 = os.path.join(local_paths.COMPLETED_DIR, "jockeys_20_to_21.csv")
jockeys_1 = pd.read_csv(path_22, encoding='utf8', sep='\t', index_col=0, dtype={'jockey_id': str})
path_23 = os.path.join(local_paths.COMPLETED_DIR, "jockeys_22_to_23.csv")
jockeys_0 = pd.read_csv(path_23, encoding='utf8', sep='\t', index_col=0, dtype={'jockey_id': str})

In [33]:
jockeys_df =pd.concat([jockeys_1, jockeys_0]).drop_duplicates()
jockeys_df

,annual,jockey_id,jockey_rank,jockey_n_top_1,jockey_n_top_2,jockey_n_top_3,jockey_n_4th_or_below,jockey_stakes_participation,jockey_stakes_win,jockey_special_participation,jockey_special_win,jockey_flat_participation,jockey_lawn_participation,jockey_lawn_win,jockey_dirt_participation,jockey_dirt_win,jockey_win_proba,jockey_top_2_proba,jockey_top_3_proba,jockey_earned_prize
1,2024,01075,23,35,54,39,305,26,1,124,12,283,204,12,229,23,0.081,0.206,0.296,86031.7
2,2023,01075,14,57,58,49,385,43,1,166,11,340,265,30,284,27,0.104,0.209,0.299,112088.4
3,2022,01075,13,72,66,59,360,38,5,146,16,373,286,33,271,39,0.129,0.248,0.354,156965.6
4,2021,01075,15,66,59,49,422,52,3,158,13,386,317,34,279,32,0.111,0.210,0.292,131559.3
5,2020,01075,10,74,87,78,520,52,3,197,16,510,394,32,365,42,0.097,0.212,0.315,155021.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2860,2023,05648,152,0,0,0,2,0,0,2,0,0,1,0,1,0,0.000,0.000,0.000,0.0
2862,2023,05617,152,0,0,0,2,0,0,2,0,0,1,0,1,0,0.000,0.000,0.000,0.0
2868,2023,05580,152,0,0,0,1,0,0,1,0,0,1,0,0,0,0.000,0.000,0.000,0.0
2869,2019,05580,149,0,1,0,1,0,0,2,0,0,1,0,1,0,0.000,0.500,0.500,612.8
2870,2018,05580,148,0,0,0,3,0,0,2,0,1,1,0,2,0,0.000,0.000,0.000,105.0

In [34]:
jockeys_df.to_csv(os.path.join(local_paths.COMPLETED_DIR, 'jockeys_20_to_23.csv'), sep="\t")